/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-responsive
 */

// @font-face
//     font-family: "Bitter-Regular"
//     src: asset-font-url('/lib/assets/fonts/Bitter-Regular.otf')
//     src: asset-font-url('/lib/assets/fonts/Bitter-Regular.otf?#iefix') format('opentype')
//     font-weight: normal
//     font-style: normal

@font-face
  font-family: 'bitterregular'
  src: font-url('bitterer-regular-webfont.eot')
  src: font-url('bitterer-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('bitterer-regular-webfont.woff') format('woff'),
       font-url('bitterer-regular-webfont.ttf') format('truetype'),
       font-url('bitterer-regular-webfont.svg#bitterregular') format('svg')
  font-weight: normal
  font-style: normal

// @font-face
//   font-family: 'bitterbold'
//   src: font-url('bitterer-webfont.eot')
//   src: font-url('bitterer-webfont.eot?#iefix') format('embedded-opentype'),
//        font-url('bitterer-webfont.woff') format('woff'),
//        font-url('bitterer-webfont.ttf') format('truetype'),
//        font-url('bitterer-webfont.svg#bitterbold') format('svg')
//   font-weight: normal
//   font-style: normal