<h1>My Business USA Profile</h1>
<form>
  <fieldset>
    <legend>Business Name</legend>
    <label for="legal_entity_name">Legal Entity Name</label>
    <input type="text" id="legal_entity_name" size="30"/>
  </fieldset>
</form>
